<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenk.dao.ConsumptionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.shenk.entity.ConsumptionDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="consumption_id" property="consumptionId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="consumption_date" property="consumptionDate" jdbcType="VARCHAR" />
    <result column="consumption_val" property="consumptionVal" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, consumption_id, user_id, category, consumption_date, consumption_val, create_time, 
    create_by, update_time, update_by, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_consumption_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_consumption_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shenk.entity.ConsumptionDetail" >
    insert into tbl_consumption_detail (id, consumption_id, user_id, 
      category, consumption_date, consumption_val, 
      create_time, create_by, update_time, 
      update_by, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{consumptionId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{consumptionDate,jdbcType=VARCHAR}, #{consumptionVal,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shenk.entity.ConsumptionDetail" >
    insert into tbl_consumption_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="consumptionId != null" >
        consumption_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="consumptionDate != null" >
        consumption_date,
      </if>
      <if test="consumptionVal != null" >
        consumption_val,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="consumptionId != null" >
        #{consumptionId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="consumptionDate != null" >
        #{consumptionDate,jdbcType=VARCHAR},
      </if>
      <if test="consumptionVal != null" >
        #{consumptionVal,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shenk.entity.ConsumptionDetail" >
    update tbl_consumption_detail
    <set >
      <if test="consumptionId != null" >
        consumption_id = #{consumptionId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="consumptionDate != null" >
        consumption_date = #{consumptionDate,jdbcType=VARCHAR},
      </if>
      <if test="consumptionVal != null" >
        consumption_val = #{consumptionVal,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shenk.entity.ConsumptionDetail" >
    update tbl_consumption_detail
    set consumption_id = #{consumptionId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      consumption_date = #{consumptionDate,jdbcType=VARCHAR},
      consumption_val = #{consumptionVal,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>